<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>RHA</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=0">
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="app.css">
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="app.js"></script>
  <script src="controllers.js"></script>
</head>
<body ng-app="rahApp" ng-controller="camController">
<div class="container-fluid">
<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"> RHA</a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Kamera <span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">obyvak</a></li>
                  <li><a href="#">detsky pokoj</a></li>
                </ul>
              </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li><a href="./">Default <span class="sr-only">(current)</span></a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
</nav>
    
    
<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" ng-model="dt" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
	
	<div class="col-md-6">
	    <div class="input-group">
		<span class="input-group-btn">
		    <button class="btn btn-success" ng-click="numFilesSet(-1)" type="button">-</button>
		</span>
		<input class="form-control text-center" type="number" placeholder="pocet obrazku" ng-model="numfiles" ng-change="numfilesChanged()" name="numfiles"/>
		<span class="input-group-btn">
		    <button class="btn btn-success" ng-click="numFilesSet(1)" type="button">+</button>
		</span>
	    </div><!-- /input-group -->
	</div>
    </div>
    
    <div class="row">
	<div ng-repeat="file in files" class="col-md-4 col-sm-6">
	    <div class="panel panel-primary container-fluid">
		<div class="panel-heading">
		    <h3 class="panel-title">{{file}}</h3>
		</div>
		<div class="panel-body">
		    <div class="row">
			<div class="col-xs-12 text-center">
			    <img class="img-responsive img-thumbnail" ng-src="{{timelapseDir}}thumbs/{{file}}" alt="{{timelapseDir}}thumbs/{{file}}">
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>
    
    
<!--    <ul>
	<li ng-repeat="file in files">
	    <img ng-src="{{timelapseDir}}thumbs/{{file}}" alt="{{timelapseDir}}thumbs/{{file}}">
	</li>
    </ul>-->
    
    
<!--<div id="carousel-example-generic" class="carousel slide">
   Indicators 
  <ol class="carousel-indicators">
    <li ng-repeat="file in files" data-target="#carousel-example-generic" data-slide-to="{{$index}}" ng-class="{active: $first===true}"></li>
  </ol>

   Wrapper for slides 
  <div class="carousel-inner" role="listbox">
    <div ng-repeat="file in files" class="item" ng-class="{active: $first===true}">
      <img ng-src="{{timelapseDir}}{{file}}" alt="{{file}}">
      <div class="carousel-caption">
        <h3>filename:{{file}}</h3>
      </div>
    </div>
  </div>

   Controls 
  <span class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
</div>-->

</div>
</body>
</html>
