<div class="row">
        <div class="col-md-6">
	    <!--<div class="form-inline">-->
		<div class="row">
		    <div class="col-md-8">
			<select class="form-control btn-block" ng-model="camName" ng-change="numfilesChanged()">
			    <option ng-repeat="c in cams" value="{{c.name}}">{{c.description}}</option>
			</select>
		    </div>
		    <div class="col-md-4">
			<button class="btn btn-primary btn-block" ng-click="takePictureNow()" type="button">Take pic NOW !</button>
		    </div>
		</div>
	    <!--</div>-->
        </div>

        <div class="col-md-3">
            <p class="input-group">
              <input type="text" class="form-control" datepicker-popup="{{format}}" is-open="opened" datepicker-options="dateOptions" ng-model="dt" ng-change="numfilesChanged()" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
	
	<div class="col-md-3">
	    <div class="input-group">
		<span class="input-group-btn">
		    <button class="btn btn-success" ng-click="numFilesSet(-1)" type="button">-</button>
		</span>
		<input class="form-control text-center" type="number" placeholder="pocet obrazku" ng-model="numfiles" ng-change="numfilesChanged()" name="numfiles"/>
		<span class="input-group-btn">
		    <button class="btn btn-success" ng-click="numFilesSet(1)" type="button">+</button>
		</span>
	    </div><!-- /input-group -->
	</div>
    </div>
    
    <div class="row">
	<div ng-repeat="file in files" class="col-md-4 col-sm-6">
	    <div class="panel panel-primary container-fluid">
		<div class="panel-heading">
		    <h3 class="panel-title">{{file}}</h3>
		</div>
		
		<div class="panel-body">
		    <div class="row">
			<div class="col-xs-12 text-center">
			    <a href="{{timelapseDir}}{{file}}">
				<img class="img-responsive img-thumbnail" ng-src="{{timelapseDir}}thumbs/{{file}}" alt="{{timelapseDir}}thumbs/{{file}}">
			    </a>
			</div>
		    </div>
		</div>
	    </div>
	</div>
    </div>